div#player0 {
  margin-top:10px;
}

div#player1 {
  margin-top: 10px;
  margin-left: 434px;
}

div#player2 {
  margin-top: 209px;
}

div#player3 {
  margin-top: 209px;
  margin-left: 434px;
}

div#player4 {
  margin-top: 401px;
  margin-left : 217px;
}
